[credential "https://github.com"]
	helper =
	helper = !/usr/bin/gh auth git-credential
[user]
	email = e.zandi@gmail.com
	name = Ehsan
[alias]
	b = branch
	cm = commit -m
	st = status
	s = status
	l = log
	ch = checkout
	sw = switch
	sh = stash
	g = log --decorate --oneline --graph --all
	a = add
	d = diff
	lo = log --oneline
	lp = log -p
	loa = log --oneline --all
	m = merge
	t = tag
	c = cat-file
	cam = commit -am
[diff]
	tool = vimdiff
[merge]
	tool = vimdiff
[difftool]
	prompt = false
