* {
    border: none;
    border-radius: 0;
    font-family: "Ubuntu Nerd Font";
    font-size: 15px;
    min-height: 0;
}
window#waybar {
	background: #292b2e;
	color: #fdf6e3;
}


#window {
    font-weight: bold;
    font-family: "Ubuntu";
}
/*
#workspaces {
    padding: 0 5px;
}
*/

#workspaces button {
    padding: 0 5px;
    background: transparent;
    border-top: 2px solid transparent;
    color: rgb(128, 128, 128);
}

#workspaces button.focused {
    color: #c9545d;
    border-top: 2px solid #c9545d;
    color: rgb(128, 128, 128);
}

#mode {
    background: #64727D;
    border-bottom: 3px solid white;
}

#clock, #battery, #cpu, #memory, #network, #pulseaudio, #custom-firefox, #tray, #mode {
    padding: 0 3px;
    margin: 0 2px;
}

#clock {
    color: rgb(128, 128, 128);
}

#battery {
    color: rgb(128, 128, 128);
}

#battery.full {
    color: rgb(128, 128, 128);
}
#battery.verygood {
    color: rgb(128, 128, 128);
}
#battery.good {
    color: rgb(128, 128, 128);
}
#battery.warning {
 background: #292b2e;
 color: yellow;
}
#battery.bad {
 background: #292b2e;
 color: orange;
}
#battery.critical {
 background: #292b2e;
 color: red;
}

@keyframes blink {
    to {
        background: #292b2e;
        color: black;
    }
}

#battery.critical:not(.charging) {
    color: red;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

temperature.critical {
 color: red;
}
#cpu {
    color: rgb(128, 128, 128);
}

#memory {
    color: rgb(128, 128, 128);
}

#network {
    color: rgb(128, 128, 128);
}

#network.disconnected {
    color: rgb(128, 128, 128);
}

#pulseaudio {
    color: rgb(128, 128, 128);
}

#pulseaudio.muted {
    color: rgb(128, 128, 128);
}

#custom-search {
    color: rgb(128, 128, 128);
}
#custom-file {
    color: rgb(128, 128, 128);
}
#custom-teams {
    color: rgb(123, 131, 235);
}
#custom-firefox {
    color: rgb(214, 66, 3);
}
#custom-vlc {
    color: #e85e00;
}
#custom-thunderbird {
    color: rgb(0, 130, 192);
}

#custom-lang {
    color: rgb(128, 128, 128);
}
#backlight {
    color: rgb(128, 128, 128);
}
#custom-settings {
    color: rgb(128, 128, 128);
}
#tray {
}

